nav{
    display: flex;
}
body{
    
        font-family: "Fira Sans Extra Condensed", sans-serif;
        font-weight: 800;
        
      
      
}
.navtitle{
    color: #181818;
    font-family: open sans;
font-size: 45px;
font-style: normal;
font-weight: 800; }
.textprimary{
    color: #FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
color: #474747;
}
.btnprimary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
}
.header{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner.profile{
width: 500px;
}
